.game {
  margin: 0 10px;
}

.control-panel {
  border: 1px solid #AAA;
  border-radius: 8px;
  padding: 10px;
}

.control-panel label {
  font-size: 14px;
}

.control-panel .setting {
  margin: 0 5px;
}

.control-panel .setting input {
  width: 30px;
}

#message {
  margin: 8px 0;
  height: 22px;
  font-style: italic;
}

.cell {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  margin: 1px 1px;
  box-shadow: 
    1px 1px 0 4px white,
    0 0 0 4px black;
}

.row:first-child .cell {
  box-shadow:
    2px -1px 0 5px white,
    0 0 0 4px black;
}

.cell:first-child {
  box-shadow:
    0 1px 0 4px white,
    0 0 0 4px black;
}

.row:first-child .cell:first-child {
  box-shadow:
    0 0 0 4px white;
}

.naught:after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  width: 36px;
  height: 36px;
  border: 8px solid red;
  border-radius: 50%;
}

.cross:before,
.cross:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: blue;
  top: -1px;
  left: 15px;
  width: 6px;
  height: 40px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.cross:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

button {
  background-color: #E2E2E2;
  border-radius: 5px;
  padding: 4px;
}
